@import "tailwindcss";




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.firefly-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}



@keyframes fly {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, -50px);
  }
  50% {
    transform: translate(200px, 150px);
  }
  75% {
    transform: translate(-150px, 200px);
  }
  100% {
    transform: translate(0, 0);
  }
}


@font-face {
  font-family: 'Akzidenz-Grotesk';
  src: url('/fonts/AkzidenzGrotesk-Black.woff2') format('woff2');
  font-weight: 900; /* Adjust weight as needed */
  font-style: normal;
  font-display: swap;
}

/* Define a custom Tailwind class */
.font-akzidenz {
  font-family: 'Akzidenz-Grotesk', sans-serif;
}

@font-face {
  font-family: "Akzidenz";
  src: url("/fonts/Akzidenz/AkzidenzGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


